<div tabindex="-1" role="dialog" class="md-modal md-effect-1 colored-header" ng-class="{'md-show': animate}" ng-style="{'z-index': 1050 + index*10, display: 'block', perspective: '1300px'}" ng-click="close($event)">
<div class="md-content" ng-transclude></div>
</div>