<div tabindex="-1" role="dialog" class="pageslide slide" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
    <div class="pageslide-dialog" ng-class="{'pageslide-sm': size == 'sm', 'pageslide-lg': size == 'lg'}">
        <div class="pageslide-content" ng-transclude></div>
    </div>
</div>