<div class="form-group">
    <div class="input-group">
        <input type="text" class="form-control " size="16" readonly>
        <span class="input-group-addon btn btn-success">
            <i class="fa fa-th"></i>
        </span>
    </div>
</div>