section.field-section
  input.bslider type="text" data-slider-value="{{ field.predefined_value }}" data-slider-step="{{ field.increments }}" data-slider-max="{{ field.range_max }}" data-slider-min="{{ field.range_min }}"

p.muted Set your minimum and maximum range with the slider above. The slider on the survey will have one handle ranging from {{ field.range_min }} to {{ field.range_max }} in steps of {{ field.increment }} which you can set from the toolbar. Your default value, or median ({{ field.predefined_value }}), can also be set via the toolbar.