<select class="select2  {{field.options.fieldsize}}" style="width: 25%;">
    <option ng-selected="field.values == $index" ng-repeat="choice in field.options.choices">{{ choice.value }}</option>
</select>