.wrap > header,
.wrap > main,
.wrap > footer {
  position: relative;
  section.layout {
    @include grid-row();

    & > section.content {
      @include grid-column($columns: 12, $last-column: true);
    }
    & > section.sidebar {
      @include grid-column($columns: 4);

      & + section.content {
        @include grid-column($columns: 8, $last-column: true);
      }
    }
  }
}

// .dashboard .wrap > main {
//   & > section.layout {
//     max-width: 100%;
//   }
// }

.wrap > header {
  section.branding {
    @include grid-column($columns: 6);
  }
  section.actions {
    @include grid-column($columns: 6, $last-column: true);
  }
}

.wrap > nav {
  @extend .contain-to-grid;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.2);
  z-index: 2;
  & > nav {
    @extend .top-bar;
    & > section {
      @extend .top-bar-section;
    }
  }
}

.wrap > main {
  z-index: 1;
  hgroup {
    @include grid-row();
    padding-top: 30px;
    padding-bottom: 30px;
    & > div.title {
      @include grid-column($columns: 8);
      & > div.crumb {
        color: $base;
        font-size: rem-calc(12);
      }
      & > .subheader {
        font-size: rem-calc(16);
      }
    }
    & > div.actions {
      @include grid-column($columns: 4, $last-column: true);
      text-align: right;
    }
  }
}

.wrap > footer {
  margin-top: 30px;
  section.layout {
    & > section {
      border-top: 1px solid $secondary-color;
      padding-top: 15px;
      p { font-size: 13px; }
    }
    & > section.copyright {
      @include grid-column($columns: 8);
    }
    & > section.support {
      @include grid-column($columns: 4, $last-column: true);
      text-align: right;
    }
  }
}

.splash {
  .wrap {
    @include grid-row();

    & > header,
    & > flash,
    & > main,
    & > footer {
      @include grid-column(
        $columns: 12
      );
      
      @media #{$medium-up} {
        @include grid-column(
          $columns: 6,
          $center: true
        );
      }

      @media #{$large-up} {
        @include grid-column(
          $columns: 4,
          $center: true
        );
      }
      
      .shared-links {
        p {
          margin: 0;
        }
      }
    }

    & > footer {
      section.layout {
        & > section.copyright,
        & > section.support {
          @include grid-column(
            $columns: 12
          );
          text-align: center;
          border: none;
          padding-top: 0;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}