/*Modals*/
.md-modal.full-width{
  width: 90%;
  max-width:none;
}
.modal-dialog.full-width{
  width: 90%;
  max-width:none;
}

.custom-width{
  width: 40%;
  max-width: none;
}

.full-color .md-content{background-color: $primary-color;color: #fff;}
.full-color .modal-content{background-color: $primary-color;color: #fff;}
.full-color.success .md-content{background-color: $dark-green;color: #fff;}
.full-color.success .modal-content{background-color: $dark-green;color: #fff;}
.full-color.info .md-content{background-color: $blue;color: #fff;}
.full-color.info .modal-content{background-color: $blue;color: #fff;}
.full-color.warning .md-content{background-color: $orange;color: #fff;}
.full-color.warning .modal-content{background-color: $orange;color: #fff;}
.full-color.danger .md-content{background-color: $red;color: #fff;}
.full-color.danger .modal-content{background-color: $red;color: #fff;}
.full-color.prusia .md-content{background-color: $prusia;color: #fff;}
.full-color.prusia .modal-content{background-color: $prusia;color: #fff;}
.full-color .modal-header{
  background-color: rgba(0,0,0,0.1);
}
.full-color .modal-content .modal-footer{
  border: 0;
 background-color: transparent;
}
.full-color .md-content .modal-footer{
  border: 0;
  background-color: transparent;
}
.full-color .md-content .modal-footer .btn{
  margin-bottom: 0 !important;
}
.md-dark .modal-header{background-color: $primary-color;color: #fff;}
.md-dark .modal-header{background-color: $primary-color;color: #fff;}
.md-dark.success .modal-header{background-color: $dark-green;color: #fff;}
.md-dark.success .modal-header{background-color: $dark-green;color: #fff;}
.md-dark.info .modal-header{background-color: $blue;color: #fff;}
.md-dark.info .modal-header{background-color: $blue;color: #fff;}
.md-dark.warning .modal-header{background-color: $orange;color: #fff;}
.md-dark.warning .modal-header{background-color: $orange;color: #fff;}
.md-dark.danger .modal-header{background-color: $red;color: #fff;}
.md-dark.danger .modal-header{background-color: $red;color: #fff;}
.md-dark.prusia .modal-header{background-color: $prusia;color: #fff;}
.md-dark.prusia .modal-header{background-color: $prusia;color: #fff;}
.md-dark .md-content, .md-dark .modal-content{
  background-color: #23262B;
  color: #BBBEC3;
}
.md-dark .md-content input, .md-dark .modal-content input{
  background-color: transparent;
  color: #b2b2b2;
}
.md-dark .modal-content .modal-footer{
  border: 0;
 background-color: transparent;
}
.md-dark .md-content .modal-footer{
  border: 0;
  background-color: transparent;
}
.md-dark .md-content .modal-footer .btn{
  margin-bottom: 0 !important;
}

.modal-content {
border-radius:5px;
-webkit-border-radius:5px;
border:0;
}

.modal-body{ padding: 30px 20px;}
.modal-body.form{ padding:30px 20px 15px;}
.md-content .icheckbox_flat-green, .modal-content .icheckbox_flat-green{margin-right: 5px;}
.modal-content > .close {
	margin-right:10px;
	margin-top: 10px;
}

.modal-content .modal-header {
	border-bottom:0;
}
.colored-header .modal-header{
  padding: 20px;
  border-bottom: 5px solid lighten($primary-color, 20%) !important;
  background-color: $primary-color;
  color: #fff;
}
.colored-header.success .modal-header{
  padding: 20px;
  border-bottom: 5px solid lighten($dark-green, 20%) !important;
  background-color: $dark-green;
  color: #fff;
}
.colored-header.info .modal-header{
  padding: 20px;
  border-bottom: 5px solid lighten($blue, 20%) !important;
  background-color: $blue;
  color: #fff;
}
.colored-header.warning .modal-header{
  padding: 20px;
  border-bottom: 5px solid lighten($orange, 20%) !important;
  background-color: $orange;
  color: #fff;
}
.colored-header.danger .modal-header{
  padding: 20px;
  border-bottom: 5px solid lighten($red, 20%) !important;
  background-color: $red;
  color: #fff;
}
.colored-header.prusia .modal-header{
  padding: 20px;
  border-bottom: 5px solid lighten($prusia, 20%) !important;
  background-color: $prusia;
  color: #fff;
}
.colored-header.dark .modal-header{
  padding: 20px;
  border-bottom: 5px solid lighten($dark, 20%) !important;
  background-color: $dark;
  color: #fff;
}

.modal-content h4, .modal-content h4{
	font-weight:400;
}

.modal-content h3, .modal-content h3{
	font-weight:300;
  margin-top:0;
  display: inline;
}

.modal-content h2{
  margin:0;
}

.modal-content .modal-footer{
  margin-top: 0;
	background:#FBFBFB;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

/*Nifty Modals*/

.md-content{
  overflow: hidden;
  border-radius:5px;
  -webkit-border-radius:5px;
  border:0;
  background: #fff;
  color: #555;
}
.md-content .modal-header{
  border-bottom: 0;
}
.md-content h4, .modal-content h4{
	font-weight:400;
}

.md-content h3, .modal-content h3{
	font-weight:300;
  margin-top:0;
}

.md-content h2{
  margin:0;
}

.md-content .modal-footer{
  margin-top: 0;
	background:#FBFBFB;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}

.md-show.md-effect-12 ~ .md-overlay {
	background: $primary-color;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {overflow: auto;}

@media (min-width: 768px) and (max-width: 979px) {
  .custom-width{
    width: 60%;
    max-width: none;
  }

}
@media (max-width: 767px) {
  .custom-width{
    width: 90%;
    max-width: none;
  }
}


/* General styles for the modal */

/*
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

.md-perspective body  {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}

/*
.container {
  background: #e74c3c;
  min-height: 100%;
}
*/

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  outline: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.md-show {
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Content styles */
.md-content {
  color: #fff;
  background: #e74c3c;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}

.md-content h3 {
  margin: 0;
  display: inline;
}

.md-content > div {
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
}

.md-modal {
  h1,h2,h3,h4,h5,h6 {
    color: #fff;
  }
}