.block-panel.chart-panel(data-equalizer-watch)
  .content
    .chart class="#{field.context}"
      = bar_chart multiple_choice_chart_path(params.merge(field: field.id)), bar_chart_options({colors: lighten_color_array(ChartHelper::COLORS[index]), title: field.label})