.block-panel.chart-panel(data-equalizer-watch)
  .content
    .chart class="#{field.context}"
      = pie_chart scale_chart_path(params.merge(field: field.id)), guage_chart_options({title: field.label})