<div role="dialog" class="page-stack page-aside slide app filter" ng-class="{in: animate}" ng-style="" ng-click="close($event)">
    <div class="pagestack-dialog">
        <div class="pagestack-sidebar" ng-transclude></div>
    </div>
</div>