/ <select name="" id="" class="cs-select cs-skin-border fs-anim-lower" required="<%= field.required %>">
/   <option value="" disabled selected>Select a Provider</option>
/   <% field.field_choices.each do |choice| %>
/   <option
/     value="<%= choice.key %>">
/     <%= choice.label %>
/   </option>
/   <% end %>
/ </select>

/ Dropdown field context
