/ Number field context
= answer_fields.number_field :value, class: 'fs-anim-lower', in: field.range_min..field.range_max, step: field.increment

= include_start_time(answer_form)
= include_end_time(answer_form)