/ Scale field context
.kiosk-anim-lower.clearfix
  .kiosk-slider-before id=("kiosk-slider-display-#{field.id}") = field.predefined_value
  .kiosk-slider
    div id=("slider-link-#{field.id}")
  = answer_form.hidden_field :value, id: "slider-value-#{field.id}", required: field.required

= include_start_time(answer_form)
= include_end_time(answer_form)

javascript:
  $("#slider-link-#{field.id}").noUiSlider({
    start: [#{field.predefined_value}],
    step: #{field.increment},
    range: {
      'min': #{field.range_min},
      'max': #{field.range_max}
    },
    format: wNumb({
      decimals: 0
    })
  });
  $("#slider-link-#{field.id}").Link('lower').to( $("#slider-value-#{field.id}") );
  $("#slider-link-#{field.id}").Link('lower').to( $("#kiosk-slider-display-#{field.id}") );