/ <input
/   type="text"
/   class="fs-anim-lower <%= field.field_size %>"
/   name="<%= field.field_type %>-<%= field.id %>"
/   id="<%= field.field_type %>-<%= field.id %>"
/   placeholder="<%= field.predefined_value %>"
/   required="<%= field.required %>" />

/ Single Line Text form context
= answer_fields.text_field :value, class: 'kiosk-anim-lower', required: field.required, placeholder: field.predefined_value

= include_start_time(answer_form)
= include_end_time(answer_form)