.wrap > header,
.wrap > main,
.wrap > footer {
  @extend .container;
}

.wrap > header {
  section.branding,
  section.actions {
    @include make-sm-column(6)
  }
}

.wrap > nav {
  @extend .navbar-inverse;
}

.wrap > main {
  hgroup {
    @include make-row();
    margin-top: 30px;
    margin-bottom: 30px;
    & > div.title {
      @include make-sm-column(8);
    }
    & > div.actions {
      @include make-sm-column(4);
      text-align: right;
    }
  }
  hgroup + section {
    @include make-row();
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.wrap > footer {
  margin-top: 30px;
  section {
    border-top: 1px solid $gray-light;
    padding-top: 15px;
    a { font-weight: 600; }
  }
  section.copyright {
    @include make-sm-column(8);
  }
  section.support {
    @include make-sm-column(4);
    text-align: right;
  }
}