<div class="ng-cloak" ng-init="init()">
  <div class="fs-form-wrap" id="fs-form-wrap">
    <!-- Title & logo -->
    <div class="fs-title">
      <h1>{{survey.title}}</h1>
    </div>
    <!-- Form -->
    <form id="survey-{{survey.id}}" class="fs-form fs-form-full" autocomplete="off">
      <ol class="fs-fields">
        <li ng-repeat="field in survey.fields" id="field-{{field.id}}" ng-if="field.visibility == 'public'">
          <label
            class="fs-field-label fs-anim-upper"
            for="{{field.fieldType}}-{{field.id}}"
            data-info="{{field.instructions}}">{{field.label}}</label>
          <div ng-include="field.properties.templates.view"></div>
        </li>
      </ol><!-- /fs-fields -->
      <button class="fs-submit" type="submit">Submit answers</button>
    </form>
  </div>
</div>