$button-size: 40px;

.block {
  // @include grid-column($columns: 12);
  .block-item {
    @include grid-row();
    border-radius: $global-radius;
    background: $white;
    padding: 20px;
    margin-bottom: 20px;
    // cursor: pointer;
    position: relative;
    max-height: 80px;

    a.trigger {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }

    &.new {
      background: $success-color;
      border-color: lighten($success-color, 15%);
      color: #fff;
    }

    .details,
    .options {
      @include grid-column($columns: 6, $collapse: true);
    }

    .details {
      .status, .name {
        display: inline-block;
      }
      .status {
        margin-right: 15px;
        &.draft {
          color: $warning-color;
          cursor: pointer;
        }
        &.published {
          color: $success-color;
        }
      }
      .name {
        line-height: $button-size;
        font-weight: 600;
      }
      .avatar {
        background-color: $primary-color;
        float: left;
        line-height: $button-size;
        margin: -20px 20px -20px -20px;
        border-radius: $global-radius 0 0 $global-radius;
      }
    }
  }
}

.block-item .options,
.timeline .options {
  position: relative;
  z-index: 20;
  text-align: right;
  ul.actions {
    @extend .inline-list;
    margin: 0px;
    li {
      margin-left: 15px;
      display: inline-block;
      float: none;
      line-height: $button-size;
      a {
        width: $button-size;
        height: $button-size;
        background: $snow;
        display: block;
        text-align: center;
        position: relative;
        i {
          position: relative;
          top: 2px;
          font-size: 16px;
        }
      }
    }
  }
}