$button-size: 40px;

.block {
  @include grid-column($columns: 12);
  .block-item {
    @include grid-row();
    border-radius: $global-radius;
    background: $smoke;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    &.new {
      background: $success-color;
      border-color: lighten($success-color, 15%);
      color: #fff;
    }

    .details,
    .options {
      @include grid-column($columns: 6, $collapse: true);
    }

    .details {
      .status, .name {
        display: inline-block;
      }
      .status {
        margin-right: 15px;
        &.draft {
          color: $warning-color;
        }
        &.published {
          color: $success-color;
        }
      }
      .name {
        line-height: $button-size;
        font-weight: 600;
      }
    }
  }
}

.block-item .options,
.timeline .options {
  text-align: right;
  ul.actions {
    @extend .inline-list;
    margin: 0px;
    li {
      margin-left: 15px;
      display: inline-block;
      float: none;
      line-height: $button-size;
      a {
        width: $button-size;
        height: $button-size;
        background: $snow;
        display: block;
        text-align: center;
        position: relative;
        i {
          position: relative;
          top: 2px;
          font-size: 16px;
        }
      }
    }
  }
}