.button + .button {
  margin-left: 5px;
}

.button {
  &:hover {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.1);
  }

  &.link {
    background-color: transparent;
    border-color: transparent;
    color: $anchor-font-color;

    &.alert {
      color: $alert-color;
      &:hover {
        color: $white;
      }
    }
  }

  &.primary {
    @include button-style(
      $bg: $primary-color, 
      $bg-hover: scale-color($primary-color, $lightness: $button-function-factor),
      $border-color: scale-color($primary-color, $lightness: $button-function-factor)
    )
  }
  &.inverse {
    border-width: rem-calc(2);
    &.primary {
      @include button-style(
        $bg: rgba($white, 0), 
        $bg-hover: rgba($white, 0),
        $border-color: scale-color($primary-color, $lightness: $button-function-factor)
      );
      color: $primary-color;
      &.dropdown {
        @include dropdown-button(
          $padding: small,
          $pip-color: $primary-color
        );
      }
    }
    &.secondary {
      @include button-style(
        $bg: rgba($white, 0), 
        $bg-hover: rgba($white, 0),
        $border-color: scale-color($secondary-color, $lightness: $button-function-factor)
      );
      color: $secondary-color;
      &.dropdown {
        @include dropdown-button(
          $padding: small,
          $pip-color: $secondary-color
        );
      }
    }
    &.default {
      @include button-style(
        $bg: rgba($white, 0), 
        $bg-hover: rgba($white, 0),
        $border-color: scale-color($white-smoke, $lightness: $button-function-factor)
      );
      color: $base;
      &.dropdown {
        @include dropdown-button(
          $padding: small,
          $pip-color: $base
        );
      }
    }
  }


}

.f-dropdown {
  
}

.filter.button {
  @include button(
    $padding: $button-sml,
    $bg: $primary-color, // #e6eaf2,
    $radius: true//rem-calc(100)
  );
  border-color: scale-color($primary-color, $lightness: -13%);
  color: $white; // $primary-color;
  font-size: rem-calc(13);
  font-weight: $font-weight-normal;
  box-shadow: none;
  // @include background(linear-gradient(lighten($primary-color, 1%), darken($primary-color, 1%)) left repeat);
  // box-shadow: inset 0px 1px 0px 0px rgba(#fff, 0.1);

  &:hover {
    color: $white; // $primary-color;
    // box-shadow: none;
  }

  & + .filter.button,
  & + .f-dropdown + .filter.button {
    margin-left: 5px;
  }

  & + .f-dropdown:focus {
    outline: none !important;
  }

  i.fa {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }

  &.dropdown {
    @include dropdown-button(
      $padding: small,
      $pip-color: $white // $primary-color
    );

    &.sort {
      padding-right: 1rem;
      &::after {
        display: none;
      }
    }
  }

  &[aria-expanded="true"] {
    background-color: scale-color($primary-color, $lightness: -10%);
    color: $white;
  }
}