/*Flot Charts*/
.chart {
  &[pie-chart],
  &[bar-chart] {
    position: relative;
    padding: 0px;

    .loader {
      @include position(absolute, 50% null null 50%);
      margin-top: -15px;
      margin-left: -12px;
    }
  }

  &[pie-chart] {
    height: 200px;
    
    div.pie-label {
      font-size:11px;
      font-weight:bold;
      text-align:center;
      color:#fff;
      background: transparent;
    }
  }
  &[bar-chart] {
    height: 75px;
  }
}

.response-time {
  @include position(absolute, 50% null null 50%);
  @include size(44 36);
  text-align: center;
  margin-left: -22px;
  margin-top: -18px;
  display: none;
  color: $body-font-color;

  small {
    color: lighten($body-font-color, 10%);
  }

  big, small {
    display: block;
  }
}

#chart-tooltip {
  background-color: rgba($primary-color, 0.8) !important;
  border-radius: $global-radius !important;
  border: none;
  color: $white;
  padding: 8px 10px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1040;
}