section.filters#advanced-filters,
section.response-data#responses {
  background-color: #f5f6f8;
  padding: ($column-gutter / 1.5) 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  display: none;
}

section.filters#advanced-filters {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);

  .row > section[class*="filter"] {
    @include grid-column($columns: 12);
    margin-bottom: $column-gutter;

    @media #{$medium-up} {
      @include grid-column($columns: 6);
    }
    @media #{$large-up} {
      @include grid-column($columns: 3);
      margin-bottom: 0;
    }

    .filter-title {
      font-size: rem-calc(12px);
      font-weight: 600;
      i {
        color: scale-color($primary-color, $lightness: 40%);
        font-weight: normal;
      }
    }

    .filter-list {
      margin: 0px;
      height: 160px;
      overflow-y: scroll;
      border-top: 1px solid #dadee6;
      border-bottom: 1px solid #dadee6;

      & > li {
        label, input {
          margin-bottom: 0;
        }
        input[type="checkbox"] {
          margin-right: 5px;
        }
        label {
          font-weight: normal;
          font-size: rem-calc(12px);
          line-height: rem-calc(20px);
        }
      }
    }
  }
}

.responses.index {
  // Float the last column left
  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  & > .wrap > main {
    section.layout {
      margin-top: $column-gutter;
    }
  }

  section.resource {
    
    &:nth-child(odd) {
      background: darken($body-bg, 2%);

      .block-button {
        &:hover {
          background-color: $body-bg;
        }
      }
    }

    article .block-panel .content {
      position: relative;
      // height: 100%;
    }

    // 3 Column Blocks
    article.multiple-choice,
    article.checkboxes,
    article.dropdown,
    article.number,
    article.scale,
    article.more {
      @include grid-column($columns: 12);
      @media #{$medium-up} {
        @include grid-column($columns: 4);
      }
      @media #{$large-up} {
        @include grid-column($columns: 3);
      }
    }
    
    // 6 Column Blocks
    article.single-line-text,
    article.paragraph-text,
    article.header {
      @include grid-column($columns: 12);
      @media #{$medium-up} {
        @include grid-column($columns: 8);
      }
      @media #{$large-up} {
        @include grid-column($columns: 6);
      }
    }

    article.response-chart,
    article.timing-chart {
      @media #{$medium-up} {
        @include grid-column($columns: 3);
      }
    }

    article.header {
      @media #{$medium-up} {
        @include grid-column($columns: 6);
      }

      .tools {
        border-top: 1px solid #e5e6ea;
        overflow: hidden;
        padding: rem-calc(5px 0 0);

        .inline-list {
          margin-bottom: 0px;
        }
      }

      &:not(.small) .tools {
        @include position(absolute, null 0px 0px 0px);
        margin: rem-calc(10px 20px 0);
      }
    }

    article.header.small {
      @media #{$medium-up} {
        @include grid-column($columns: 5);
      }
    }
    
    article.more.small {
      @include grid-column($columns: 1);
    }

    // 12 Column Blocks
    article.responses-table {
      @include grid-column($columns: 12);
    }
  }

  article.response-chart,
  article.timing-chart {
    .stat {
      color: $body-font-color;
      display: table;
      big, span {
        display: table-cell;
        vertical-align: middle;
      }
      big {
        font-size: rem-calc(30);
        font-weight: 600;
        padding: 0 5px;
      }
      span {
        font-weight: 300;
      }
    }
  }

  article.scale {
    div.content {
      @include grid-row();
      color: $body-font-color;

      div.stat,
      div.extras {
        @include grid-column($columns: 6);
      }
      div.chart {
        @include grid-column($columns: 12, $collapse: true)
      }

      div.stat {
        text-align: right;

        & > div {
          line-height: rem-calc(32);
          
          big {
            font-size: rem-calc(30);
            font-weight: 600;
          }

          i { font-size: rem-calc(16); }

          &.above-median i {
            color: $success-color;
          }
          &.below-median i {
            color: $warning-color;
          }
        }
      }

      div.extras {
        font-size: rem-calc(18);

        .average-time {
          & > div {
            @include grid-column($columns: 6, $collapse: true)
          }
          & > div:last-child {
            font-size: rem-calc(10);
            line-height: rem-calc(11);
            padding-left: 5px;
            padding-top: 2px;
          }
        }
      }
    }
  }
}