.dashboard {
  // Float the last column left
  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  & > .wrap > main {
    section.layout {
      max-width: 100%;

      section.resource {
        padding: rem-calc(60 0 40);
        
        &:nth-child(even) {
          background: darken($body-bg, 2%);
        }

        article .block-panel .content {
          position: relative;
        }

        // 3 Column Blocks
        article.multiple-choice,
        article.response-chart,
        article.timing-chart,
        article.checkboxes,
        article.dropdown,
        article.number,
        article.scale {
          @include grid-column($columns: 3)
        }
        
        // 6 Column Blocks
        article.single-line-text,
        article.paragraph-text,
        article.header {
          @include grid-column($columns: 6);
        }
        
        // 12 Column Blocks
        article.responses-table {
          @include grid-column($columns: 12);
        }

        .equal-height article .block-panel > .content {
          height: 240px;
          .chart {
            bottom: 0;
          }
        }
      }

      article.response-chart,
      article.timing-chart {
        .stat {
          color: $body-font-color;
          display: table;
          big, span {
            display: table-cell;
            vertical-align: middle;
          }
          big {
            font-size: rem-calc(30);
            font-weight: 600;
            padding: 0 5px;
          }
          span {
            font-weight: 300;
          }
        }
      }

      article.scale {
        div.content {
          @include grid-row();
          color: $body-font-color;

          div.stat,
          div.extras {
            @include grid-column($columns: 6);
          }
          div.chart {
            @include grid-column($columns: 12, $collapse: true)
          }

          div.stat {
            text-align: right;

            & > div {
              line-height: rem-calc(32);
              
              big {
                font-size: rem-calc(30);
                font-weight: 600;
              }

              i { font-size: rem-calc(16); }

              &.above-median i {
                color: $success-color;
              }
              &.below-median i {
                color: $warning-color;
              }
            }
          }

          div.extras {
            font-size: rem-calc(18);

            .average-time {
              & > div {
                @include grid-column($columns: 6, $collapse: true)
              }
              & > div:last-child {
                font-size: rem-calc(10);
                line-height: rem-calc(11);
                padding-left: 5px;
                padding-top: 2px;
              }
            }
          }
        }
      }
    }
  }
}