header {
  padding-top: 10px;
  padding-bottom: 10px;

  section.branding {
    h1 {
      margin: 0;
    }
    .logo {
      background: url('/assets/logo.png') no-repeat;
      background-size: 100%;
      width: 118px;
      height: 30px;
      text-indent: -9999px;

      @include retina {
        background-image: url('/assets/logo@2x.png');
      }
      @include retina(hd) {
        background-image: url('/assets/logo@3x.png');
      }
    }
  }
}