section.home-intro {
  background: image-url("intro-background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 500px;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.2);
  margin-bottom: 60px;
}