.block-panel {
  @include panel(
    $bg: $white,
    $padding: 0px,
    $adjust: false
  );
  border-radius: $global-radius;
  border: 1px solid #e5e6ea;
  border-bottom-width: 2px;
  border-bottom-color: darken(#e5e6ea, 1%);
  
  &.faded {
    background-color: #f5f6f8;
  }

  & > .header,
  & > .content {
    padding: rem-calc(20);
  }

  & > .header {
    background: #f5f6f8;
    border-bottom: 1px solid #e5e6ea;
    line-height: normal;
    font-size: rem-calc(12);
    height: rem-calc(75);
    color: $body-font-color;
  }

  & > .content {

    &.scroll {
      height: 200px;
      overflow-y: scroll;
    }
  }
}