.nav-tabs {
  border-bottom: 1px solid darken(#e5e6ea, 10%);
  overflow: visible;
  height: 60px;
  margin-bottom: 50px;

  > dd {
    border: 1px solid darken(#e5e6ea, 10%);
    border-bottom: 0;
    margin-right: 10px;
    margin-left: 0;
    position: relative;
    padding: 0;
    float: left;

    > a {
      padding: 20px 50px;
      display: block;
      margin-bottom: -1px;
      position: relative;
      text-align: center;
      color: #58666e;
      font-weight: 300;
      height: 60px;
      i {
        font-size: 20px;
      }
    }
    &.active {
      a {
        font-weight: bold;
        color: #6e768e;
        background: $body-bg;
      }
    }
  }
}