
//= require nouislider
//= require nouislider/src/jquery.nouislider.pips
//= require_tree ./frontend

@import "bootstrap-sprockets";
@import "bootstrap";

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container {
  height: 100%;
}

body {
  background: #2a3237;
  color: #6e768e;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 590px;

  .fs-form-wrap {
    background-image: url(/assets/clinic-background.jpg);
    background-size: cover;
  }
  
  &.overview {
    .fs-form-wrap {
      background-image: none;
    }
  }

}

a {
  color: #6e768e;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  color: #fff;
}