= tag 'meta', name: 'apple-mobile-web-app-capable', content: 'yes'
= tag 'meta', name: 'apple-mobile-web-app-status-bar-style', content: 'black'
= tag 'meta', name: "format-detection", content: "telephone=no"

/ Icons

/ iOS 8 iPhone (retina hd)
= favicon_link_tag "touch-icon-180x180.png", sizes: "180x180", rel: "apple-touch-icon", type: "image/png"

/ iOS 7 iPad (retina)
= favicon_link_tag "touch-icon-152x152.png", sizes: "152x152", rel: "apple-touch-icon", type: "image/png"

/ iOS 6 iPad (retina)
= favicon_link_tag "touch-icon-144x144.png", sizes: "144x144", rel: "apple-touch-icon", type: "image/png"

/ iOS 7 iPhone (retina)
= favicon_link_tag "touch-icon-120x120.png", sizes: "120x120", rel: "apple-touch-icon", type: "image/png"

/ iOS 6 iPhone (retina)
= favicon_link_tag "touch-icon-114x114.png", sizes: "114x114", rel: "apple-touch-icon", type: "image/png"

/ iOS 7 iPad
= favicon_link_tag "touch-icon-76x76.png", sizes: "76x76", rel: "apple-touch-icon", type: "image/png"

/ iOS 6 iPad
= favicon_link_tag "touch-icon-72x72.png", sizes: "72x72", rel: "apple-touch-icon", type: "image/png"

/ iOS 6 iPhone
= favicon_link_tag "touch-icon-57x57.png", sizes: "57x57", rel: "apple-touch-icon", type: "image/png"

/ Startup image

/ iOS 8 iPhone (retina, portrait)
= favicon_link_tag "startup-image-1242x2208.png", media: "(device-width: 1920px) and (device-height: 1080px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)", rel: "apple-touch-startup-image", type: "image/png"

/ iOS 8 iPhone (retina, landscape)
= favicon_link_tag "startup-image-2208x1242.png", media: "(device-width: 1080px) and (device-height: 1920px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)", rel: "apple-touch-startup-image", type: "image/png"

/ iOS 6 & 7 iPad (retina, portrait)
= favicon_link_tag "startup-image-1536x2008.png", media: "(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)", rel: "apple-touch-startup-image", type: "image/png"

/ iOS 6 & 7 iPad (retina, landscape)
= favicon_link_tag "startup-image-1496x2048.png", media: "(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)", rel: "apple-touch-startup-image", type: "image/png"

/ iOS 6 iPad (portrait)
= favicon_link_tag "startup-image-768x1004.png", media: "(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)", rel: "apple-touch-startup-image", type: "image/png"

/ iOS 6 iPad (landscape)
= favicon_link_tag "startup-image-748x1024.png", media: "(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)", rel: "apple-touch-startup-image", type: "image/png"

/ iOS 6 & 7 iPhone 5
= favicon_link_tag "startup-image-640x1096.png", media: "(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)", rel: "apple-touch-startup-image", type: "image/png"

/ iOS 6 & 7 iPhone (retina)
= favicon_link_tag "startup-image-640x920.png", media: "device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)", rel: "apple-touch-startup-image", type: "image/png"

/ iOS 6 iPhone
= favicon_link_tag "startup-image-320x460.png", media: "device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)", rel: "apple-touch-startup-image", type: "image/png"

/ # = favicon_link_tag "startup-image-2208x1242.png", rel: "apple-touch-startup-image", type: "image/png"